
.main-box{
    padding-top: 5%;
    display:flex;
    justify-content:center;
}
.parameters{
    width :90%;
    height: 15%;
    border: 3px solid rgb(128, 0, 28);
    text-align: center;
    color: black;
    padding-top: 5px;
    font-size: large;
    font-weight: bolder;
}
.yaw_moment{
    padding-top: 5px;
    display:flex;
    justify-content:center;
}