<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drone Simulation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"></script>
    <script type='text/javascript' src="{{url_for('static',filename='script/script.js')}}"></script>
</head>
<body>

<div class="main-box">
    
    <form class="row g-3" action="" method="post" name='drone_sim'>
        <div class="parameters">
            <p id="altitude1"></p>
        </div><br>
        <div class="start-button">
            <button type="button" class="btn btn-outline-success" onClick="connect()">Connect</button>
        </div>
        <div class="col-md-4">
            <label for="altitude" class="form-label">Altitude</label>
            <input type="text" name="altitude" class="form-control" id="altitude" value="" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" onClick="takeOff(event)">TAKE OFF!</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-danger" onClick="land()">LAND</button>
            <br>
            <br>
            <button type="button" class="btn btn-success" onClick="RTL()">RTL</button>
        </div>
    </form>
</div>
<div class="yaw_moment">
    <div>
    <div class="col-md-4">
        <label for="yaw" class="form-label">Yaw</label>
        <input type="text" name="yaw" class="form-control" id="yaw" value="" required>
    </div>
    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit" onClick="yaw(event)">Change Yaw</button>
    </div>
</div>
</div>
</body>
</html>
